[Desktop Entry]
Name=Football Manager
Comment=Football Manager
Comment[pl]=Menadżer Piłkarski 
Exec=fm
Terminal=false
Icon=fm.png
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
